<p>
	<mat-toolbar color="primary">
		<div id="Menu">
			<a mat-icon-button RouterLink="/">
				<mat-icon>home</mat-icon>
			</a>
		</div>
		<span>IndexedHouse</span>
		<span class="example-spacer"></span>
		<a mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
			<mat-icon>favorite</mat-icon>
		</a>
		<button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
	</mat-toolbar>
</p>